@import "tailwindcss";

.animation-fade {
    animation: fade 0.4s ease-out 1;
}

.animation-brand {
    animation: brand 0.4s ease-out 1;
}

@keyframes fade {
    0% {
        scale: 0;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes brand {
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }
    100% {
        transform: initial;
        opacity: 1;
    }
}