@import "tailwindcss";

    /* Estilizações gerais */
b {
    font-weight: 600;
}

svg {
    cursor: pointer;
}

    /* Configurações de tema do tailwindcss*/
@theme {
    --color-white-parcial-transparent: rgba(255, 255, 255, 0.1);
    --color-black-parcial-transparent: rgba(0, 0, 0, 0.25);
    --color-gray-parcial-transparent: rgba(0, 0, 0, 0.1);
}

* {
    transition: all 0.2s ease-in-out;
}

    /* Configurações de animações */

.animation-fade {
    animation: fade 0.2s ease-out;
}

.animation-brand {
    animation: brand 0.4s ease-out;
}

.animation-menu {
    animation: menu 0.2s ease-out;
}

.animation-offset {
    animation: offset 0.2s ease-in-out;
}

.animation-opacity {
    animation: opacity 0.2s ease-in-out;
}

.animation-translate-x {
    animation: translate-x 0.2s ease-in-out;
}

@keyframes fade {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

@keyframes brand {
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }
    100% {
        transform: initial;
        opacity: 1;
    }
}

@keyframes brand-reverse {
    0% {
        transform: initial;
    }
    100% {
        transform: translateX(-400px);
    }
}

@keyframes menu {
    0% {
        transform: translateX(200px);
    }
    100% {
        transform: initial;
    }
}

@keyframes offset {
    0% {
        offset-position: 0 20px;
    }
    
    100% {
        offset-position: initial;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes opacity-65 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.65;
    }
}

@keyframes translate-x {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: initial;
    }
}

/* Configurações de fonte */

.text-xxs {
    font-size: 0.7rem;
}

/* Configuração de animações de transição */
.transition-opacity-decoration {
    transition: text-decoration-color 0.2s ease-in-out;
}

    /* Configuração de sombra */
.shadow-in-box {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 50px 30px -28px inset;
}

    /* Configurações de scroll */
::-webkit-scrollbar {
    width: 2px;
    border: none;
}
::-webkit-scrollbar-thumb {
    background-color: #222;
    opacity: 0.5;
}
  
  :-webkit-scrollbar-track {
    background-color: transparent;
}